.exit{
    position: fixed;
    display: flex;
    z-index: 50;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-width: 1px;
    border-color: #D1D5DB;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    animation: slideOut 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideOut{
    0% {
        margin-left: 0%;
        opacity: 1;
    }
    100% {
        margin-left: -50%;
        opacity: 0;
        visibility: hidden;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    margin-left: 0.7%;
    margin-right: 0.7%;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1D5DB;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    border: 1.5px solid #D1D5DB;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}