.exit{
    position: fixed;
    display: flex;
    z-index: 50;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-width: 1px;
    border-color: #D1D5DB;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    animation: slideOut 1.5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideOut{
    0% {
        margin-left: 0%;
        opacity: 1;
    }
    100% {
        margin-left: -50%;
        opacity: 0;
        visibility: hidden;
    }
}